@import "./antd.css";
@import "./antd-mod.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.faq_header {
  cursor: pointer;
  width: 700px;
  font-size: large;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 7px 0px;
  user-select: none;
  padding: 20px 0px;
  padding-bottom: 0px;
  position: relative;
}
.faq_header::before {
  content: "+";
  font-weight: 100;
  position: absolute;
  right: 25px;
  color: #001e2b;
  padding: 0px;
  margin: 0px;
  transform: rotate(var(--angle, 0deg)) scale(2.4);
  transition: transform 0.2s ease;
}
.faq_header h1 {
  padding-left: 30px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  color: #00694b;
}
.faq_container {
  font-family: "Inter", sans-serif;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  margin: 15px 0px;
}
.faq_details {
  font-size: 14px;
  overflow: hidden;
  transition: max-height 0.5s linear, padding 0.75s ease;
  max-height: 0px;
  padding: 0px 30px;
  padding-bottom: 0px;
}
/* @media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: black;
        background: #fffefe;
    }
} */
.ant-checkbox .ant-checkbox-inner {
  background-color: #fffefe !important;
  border-color: black !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: green !important;
  border-color: black !important;
}
.dyfr_background
{
  /* border: 5px solid red; */
  background-image: url("../assets/svgs/DYFR_Background.svg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  overflow:scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;

}
.figma_ellipse
{
  height: 200px;
  width: 200px;
  /* outline: 1px solid white; */
  position: fixed;
  left:600px;
  top: 110px;
}
.figma_ellipse2
{
  height: 250px;
  width: 250px;
  /* outline: 1px solid white; */
  position: fixed;
  left:clamp(10px,5%,100px);
  top: 450px;
}
.figma_vector
{
  width: clamp(400px,30%,500px);
  position: fixed;
  right: clamp(10px,10%,400px);
  top:clamp(10px,30%,300px);
  /* outline: 1px solid white; */

}

.text_container
{
  display: flex;
  flex-direction: column;
  /* outline:1px solid white; */
  width: min-content;
  z-index: 1;
  position: absolute;
  left:clamp(10px,10%,160px);
  top:clamp(10px,20%,150px);
  width: 678px;

}
.dyfr_text1
{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 7vh;
  color: #FFFEFE;
  margin-bottom: 50px;
}
.dyfr_text2
{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vh;
  line-height: 36px;
  width: 500px;
  color: #FFFEFE;
  margin-bottom: 30px;

}
.dyfr_text3
{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vh;
  line-height: 36px;
  color: #EFE7E7;  
  width: 408.81px;
}

@media  screen and (max-width:900px) {
  
  .dyfr_background
  {
    background: #001E2B;
  }
  .figma_ellipse
  {
    height: 120px;
    width: 120px;
    left: 5%;
    top:50px;
  }
  .figma_vector
  {
    width: calc(20vh + 40vw );
    position: absolute;
    right: unset;
    top: 90px;
  }
  .figma_ellipse2
  {
    display: none;
  }
  .text_container
  {
    width: 90%;
    /* outline: 1px solid white; */
    top: unset;
    left: unset;
    bottom: 2%;
    /* height: 300px; */
  }
  .dyfr_text1
{

  font-weight: 600;
  font-size: 4vh;
  margin-bottom: 10px;
  line-height:unset;
}
.dyfr_text2
{
  font-size: 2vh;
  width: auto;
  margin-bottom: 10px;
  line-height: unset;
}
.dyfr_text3
{

  font-size: 2ch;
  width: auto;
  line-height: unset;
}

}
