@import "./antd.css";
@import "./antd-mod.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.faq_header {
  cursor: pointer;
  width: 700px;
  font-size: large;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 7px 0px;
  user-select: none;
  padding: 20px 0px;
  padding-bottom: 0px;
  position: relative;
}
.faq_header::before {
  content: "+";
  font-weight: 100;
  position: absolute;
  right: 25px;
  color: #001e2b;
  padding: 0px;
  margin: 0px;
  transform: rotate(var(--angle, 0deg)) scale(2.4);
  transition: transform 0.2s ease;
}
.faq_header h1 {
  padding-left: 30px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  color: #00694b;
}
.faq_container {
  font-family: "Inter", sans-serif;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  margin: 15px 0px;
}
.faq_details {
  font-size: 14px;
  overflow: hidden;
  transition: max-height 0.5s linear, padding 0.75s ease;
  max-height: 0px;
  padding: 0px 30px;
  padding-bottom: 0px;
}
/* @media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: black;
        background: #fffefe;
    }
} */
.ant-checkbox .ant-checkbox-inner {
  background-color: #fffefe !important;
  border-color: black !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: green !important;
  border-color: black !important;
}
.dyfr_background
{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  position: relative;
}
.figma_ellipse
{
  height: 200px;
  width: 200px;
  /* outline: 1px solid white; */
  position: absolute;
  left:40%;
  top: 100px;
}
.figma_ellipse2
{
  height: 16vw;
  width: 16vw;
  /* outline: 1px solid white; */
  position: absolute;
  left:clamp(10px,5%,100px);
  top: 20vw;
}
.figma_vector
{
  width: 500px;
  position: absolute;
  right: 160px;
  top:clamp(10px,30%,300px);
  /* outline: 1px solid white; */

}

.text_container
{
  display: flex;
  flex-direction: column;
  /* outline:1px solid white; */
  width: min-content;
  z-index: 1;
  position: absolute;
  left:clamp(10px,10%,160px);
  top:clamp(10px,20%,150px);
  width: 678px;

}
.dyfr_text1
{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  color: #FFFEFE;
  margin-bottom: 30px;
}
.dyfr_text2
{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  width: 350px;
  color: #FFFEFE;
  margin-bottom: 30px;

}
.dyfr_text3
{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #EFE7E7;  
  width: 408.81px;
}

.homeCircleColor {
  background: linear-gradient(
    158deg,
    #01ec64 14.39%,
    rgba(217, 217, 217, 0) 90.67%
  );
}
.homeCircleColor2 {
  background: linear-gradient(
    153.43deg,
    #01ec64 -16.67%,
    rgba(217, 217, 217, 0) 66.67%
  );
}

.reveal-bottom {
  transform: translateY(300px);
  opacity: 0;
  transition: opacity, transform 0.3s ease;
}

.reveal-bottom.active-reveal {
  transform: translateY(0px);
  opacity: 1;
}
@media  screen and (max-width:1280px) {

  .figma_vector
  {
    right: 10px;
  }
  .text_container
  {
    left: 60px;
  }
}
@media  screen and (max-width:1024px) {
 .text_container
 {
  width:unset;
  left: 5%;
  top:unset;
 }

  .dyfr_text1
{

  font-size:40px ;
  margin-bottom: 10px;
  width: 500px;
}
.dyfr_text2
{
  font-size: 18px;
  margin-bottom: 10px;
  width: 400px;
  line-height: unset;
}
.dyfr_text3
{
  font-size: 18px;
}
.figma_vector
{
  width: 350px;
  top:unset;
}
  
}
@media screen and (max-width:799px) {
  .text_container
  {
    left: 30px;
  }
  .dyfr_text1
  {
  
    font-size:30px ;
    width: 400px;
  }
  .dyfr_text2
  {
    font-size: 15px;
    width: 330px;
    line-height: unset;
  }
  .dyfr_text3
  {
    font-size: 15px;
    width: 330px;
  }
  .figma_vector
  {
    width: 250px;
    top: unset;
  }
  
}
@media  screen and (max-width:599px) {
  
  .dyfr_background
  {
    background: #001E2B;
  }
  .figma_ellipse
  {
    height: 120px;
    width: 120px;
    left: 5%;
    top:50px;
  }
  .figma_vector
  {
    width: calc(20vh + 40vw );
    position: absolute;
    right: unset;
    top: 90px;
  }
  .figma_ellipse2
  {
    display: none;
  }
  .text_container
  {
    width: 90%;
    top: unset;
    left: unset;
    bottom: 5%;

    /* height: 300px; */
  }
  .dyfr_text1
{

  font-weight: 600;
  font-size: 4vh;
  margin-bottom: 10px;
  line-height:unset;
}
.dyfr_text2
{
  font-size: 2vh;
  width: auto;
  margin-bottom: 10px;
  line-height: unset;
}
.dyfr_text3
{

  font-size: 2vh;
  width: auto;
  line-height: unset;
}

}